rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // 允許所有人讀寫 travel 和 travel_schedule
    match /travel/{document=**} {
      allow read, write: if true;
    }
    match /travel_schedule/{document=**} {
      allow read, write: if true;
    }
    match /travel_extra/{document=**} {
      allow read, write: if true;
    }
  }
}